services:
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: ddd-rentals-api
    ports:
      - "8000:8000"
    volumes:
      - ..:/app
    environment:
      - PYTHONPATH=/app/src
